<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="/basic/basic-fragments :: stylesheets"></div>
    <div th:replace="/basic/basic-fragments :: sidebar-stylesheet"></div>

    <div th:replace="/basic/basic-fragments :: scripts"></div>

    <title>Account</title>
</head>
<body>

        <div id="body-pd">
        <div th:fragment="sidebar">
        <header class="header" id="header">
        <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
        <div class="header-button-bar">
            <div class="dropdown">
                <i class='header-button-bar-button bi-plus' role="button" type="button" id="dropdownMenuButton"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
<!--                    <form class="h-100 h-custom gradient-custom-2" th:action="@{/account}" th:object="${emailAccount}"-->
<!--                          method="post">-->
<!--                        <div class="form-group">-->
<!--                            <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"-->
<!--                                   placeholder="Enter email" th:field="*{emailAddress}">-->

<!--                            <label type="text" for="exampleInputEmail1">Email address</label>-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <input class="form-control" id="exampleInputPassword1" placeholder="Password"-->
<!--                                   th:field="*{emailPw}">-->
<!--                            <label type="text" for="exampleInputPassword1">Password</label>-->
<!--                        </div>-->

<!--                        <button type="submit" class="btn btn-primary">Submit</button>-->
<!--                    </form>-->
                </div>
            </div>
        </div>

    </header>
        <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <i class='bi bi-person nav_logo-icon'></i>
                    <span class="nav_logo-name">Sentforward</span>
                </a>
                <div class="nav_list">
                    <ul class="email-list">
                        <th:block th:each="emailAccount : ${masterAccount.getEmailAccounts()} ">
                            <li>


                                <p th:href="'#collapse'+${emailAccount.getId()}" class="nav_link" role="button"
                                   data-toggle="collapse"
                                   aria-expanded="false" th:attr="aria-controls='collapse'+${emailAccount.getId()}">
                                    <i class='bi bi-envelope'></i>

                                    <!--                                    class="active"-->
                                    <span class="nav_name " th:text="${emailAccount.getEmailAddress()}"> </span>
                                </p>

                                <div class="collapse" th:id="'collapse'+${emailAccount.getId()}">
                                    <ul class="email-list-comp">

                                        <li>
                                            <a th:href="@{'/account/calendar/'+${emailAccount.getId()} }">
                                                <p class="nav_link-component">
                                                    <i class="bi bi-calendar"></i>
                                                    <span class="nav_name" th:text="Calendar"> </span>
                                                </p>
                                            </a>
                                        </li>

                                        <li>
                                            <p class="nav_link-component">
                                                <i class="bi bi-inbox"></i>
                                                <span class="nav_name" th:text="Inbox"> </span>
                                            </p>

                                        </li>

                                        <li>
                                            <a th:href="@{'/account/sent/'+${emailAccount.getId()} }">
                                                <p class="nav_link-component">
                                                    <i class="bi bi-send"></i>
                                                    <span class="nav_name" th:text="Sent"> </span>
                                                </p>
                                            </a>

                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </th:block>

                    </ul>

                </div>
            </div>
            <a href="/logout" class="nav_link">
                <i class='bi bi-box-arrow-left nav_icon'></i>
                <span class="nav_name">Logout</span>
            </a>
        </nav>
    </div>
        </div>
            <!--Container Main start-->
            <div class="account-content bg-light">



            </div>
        </div>
    </div>


</body>


</html>