<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{basic/account-layout}"

>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="/basic/basic-fragments :: stylesheets"></div>
    <div th:replace="/basic/basic-fragments :: sidebar-stylesheet"></div>

    <div th:replace="/basic/basic-fragments :: scripts"></div>

    <title>Account</title>
</head>
<body>

<div id="body-pd">
    <div th:replace="basic/account-layout :: sidebar"></div>
    <div class="account-content bg-light">
        <!-- //Content -->
    </div>

</div>


</body>


</html>