<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="basic/basic-fragments :: stylesheets"></div>
    <div th:replace="basic/basic-fragments :: sidebar-stylesheet"></div>

    <link rel="stylesheet" type="text/css" th:href="@{/css/evo-calendar.css}">

    <div th:replace="basic/basic-fragments :: scripts"></div>

    <title>Calendar</title>
</head>
<body>
<div id="body-pd">
    <div th:replace="basic/account-layout :: sidebar"></div>
    <!--    content-->
    <div class="account-content">
        <div class="space-top-bar">
            <div class="calendar-width" id='evoCalendar'></div>
        </div>
        <div class="centre space-5p">

            <a th:href="@{'/account/calendar/new-appointment/'+ ${calendar.getId()}}" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add new Appointment
                </button>
            </a>

            <a th:href="@{'/account/calendar/'+${emailAccount.getId()}+'/' + ${calendar.getId()}+'/order-chef'}" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Order Chef
                </button>
            </a>

        </div>

    </div>


</div>

<script type="text/javascript" th:src="@{/js/evo-calendar.js}"></script>

<script th:inline="javascript">

    /*<![CDATA[*/

    $(document).ready(function () {

        myEvents = []

        /*[# th:each="appoint : ${calendar.getAppointments()}"]*/

        appointment = {
            id: /*[[${appoint.getId()}]]*/ null,
            name: /*[[${appoint.getName()}]]*/ null,
            date: /*[[${appoint.getDate()}]]*/ null,
            description: /*[[${appoint.getDescription()}]]*/ null,
            type: "event"
        }

        myEvents.push(appointment)

        /*[/]*/

        $('#evoCalendar').evoCalendar({
            calendarEvents: myEvents
        })
    })

    /*]]>*/

</script>
</body>
</html>