<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div th:replace="basic/basic-fragments :: stylesheets"></div>
    <div th:replace="/basic/basic-fragments :: sidebar-stylesheet"></div>

    <link rel="stylesheet" type="text/css" th:href="@{/css/evo-calendar.css}">

    <div th:replace="basic/basic-fragments :: scripts"></div>


<!--    calendar-->




    <title>Title</title>
</head>
<body>
<div id="body-pd">
    <div th:replace="basic/account-layout :: sidebar"></div>
    <!--    content-->
    <div class="account-content">
        <div class="space-top-bar" >
            <div  class="calendar-max-width bg-light" id='evoCalendar'></div>
        </div>

    </div>

</div>

    <script type="text/javascript" th:src="@{/js/evo-calendar.js}"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/

        myEvents = []

        /*[# th:each="appoint : ${calendar.getAppointments()}"]*/
            let appoint_id = /*[[${appoint.getId()}]]*/ null
            let appoint_name = /*[[${appoint.getName()}]]*/ null
            let appoint_date = /*[[${appoint.getDate()}]]*/ null
            let appoint_desc = /*[[${appoint.getDescription()}]]*/ null

            appointment = {
                id : appoint_id,
                name: appoint_name,
                date: appoint_date,
                description : appoint_desc,
                type: "event"
            }
            myEvents.push(appointment)

        /*[/]*/

        $(document).ready(function() {

            $('#evoCalendar').evoCalendar({
                calendarEvents: myEvents
            })
        })

        /*]]>*/

    </script>
</body>
</html>