<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="/basic/basic-fragments :: stylesheets"></div>
    <div th:replace="/basic/basic-fragments :: sidebar-stylesheet"></div>

    <div th:replace="/basic/basic-fragments :: scripts"></div>

    <title>Account</title>
</head>
<body>

<div id="body-pd">
    <div th:replace="basic/account-layout :: sidebar"></div>
    <div class="account-content">

        <form method="post" th:object="${newAddressDto}" th:action="@{/account/newEmail}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter a new E-Mail" th:field="*{emailAddress}" required>
                <div class="input-group-append">
                    <span class="input-group-text">@sentforward.de</span>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>




    </div>

</div>


</body>


</html>