<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="basic/basic-fragments :: stylesheets"></div>
    <div th:replace="basic/basic-fragments :: sidebar-stylesheet"></div>

    <div th:replace="basic/basic-fragments :: scripts"></div>

    <title>Account</title>
</head>
<body>

<div id="body-pd">
    <div th:replace="basic/account-layout :: sidebar"></div>

    <div class="account-content">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="from-addon">From</span>
            </div>
            <div type="text" class="form-control" aria-label="Username" aria-describedby="from-addon1" th:text="${email.getFrom().getEmailAddress()}" ></div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="to-addon">To</span>
            </div>
            <div type="text" class="form-control" aria-describedby="to-addon" th:text="${toList}" ></div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="date-addon">Date</span>
            </div>
            <div type="text" class="form-control" aria-describedby="date-addon" th:text="${sdf.format(email.getSentDate())}" ></div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="subject-addon">Subject</span>
            </div>
            <div type="text" class="form-control" aria-describedby="subject-addon" th:text="${email.getSubject()}" ></div>
        </div>


        <div class="content-sent-email form-control">
            <p th:text="${email.getContent()}">

            </p>
            </div>
        </div>

</div>



</body>


</html>